page-feed {

    .alert-description{
        font-size:1rem !important;
    }

    .scroll-content{
        background:color($colors, extra-light);
        padding:0px !important;
    }

}

// .view-more{
//     background:color($colors,extra-light);
// }

// .view-more ion-item{
//     background:inherit;
// }


