page-after-hours {

    .after-hours-option {
        background: #ffcb05;
        border-radius: 10px;
        padding: 10px;
        color: #00274c;
        margin-bottom: 25px;
        text-align: center;
    }
    
    .after-hours-option p{
        font-size:1.25em;
    }
    
    .after-hours-btn{
        margin:2rem 0 2rem 0 !important;
        height:5rem !important;
    }

    ul{
        margin: 0;
    }

}

