page-account {

    .profile{
        color:color($colors,primary);
        margin-bottom:25px;
        text-align:center; 
        background: color($colors,secondary);
        padding:15px;
    }

    .scroll-content{
        background:color($colors, extra-light);
        padding:0px !important;
    }

}

